.simon {
  position: absolute;
  width: 48%;
  height: 48%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: var(--all-color);
  transition: all 0.2s;
  border: none;
}

.simon_active
/* .simon:active  */ {
  border: none;
  transform: scale(1.05);
  box-shadow: 0 0 12px 5px rgba(240, 240, 240, 0.5);
}
.simon:focus {
  outline: none;
}

.bg-red {
  background-color: red;
}
.bg-green {
  background-color: green;
}
.bg-blue {
  background-color: blue;
}
.bg-yellow {
  background-color: yellow;
}

.container-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.simon:nth-child(1) {
  top: 0;
  left: 0;
}
.simon:nth-child(2) {
  top: 0;
  right: 0;
}
.simon:nth-child(3) {
  bottom: 0;
  left: 0;
}
.simon:nth-child(4) {
  bottom: 0;
  right: 0;
}

.container-game {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-simon {
  margin-top: 17px;
  display: flex;
  position: relative;
  width: 55vmin;
  height: 55vmin;
  border-radius: 50%;
  overflow: hidden;
}

.butIniciarBg {
  border: var(--all-bg) 20px solid;
  z-index: 9;
  border-radius: 50%;
  width: 35%;
  height: 35%;
}

.butIniciar {
  z-index: 10;
  background-color: var(--all-color);
  border-radius: 50%;
  border: none;
  width: 100%;
  height: 100%;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.butIniciar > span {
  color: var(--all-bg);
  font-size: 1.5rem;
}

.butIniciar:focus .butIniciar:hover {
  border: none;
  outline: none;
}

.butIniciar:active {
  border: none;
  outline: none;
  transform: scale(1.1);
}

.contador-container {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  left: 36px;
}

.rounds,
.maxRounds {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.emoji-status {
  font-size: 2.5rem;
}

.butback {
  margin-top: 30px;
  border: none;
  background-color: transparent;
  color: var(--all-color);
  font-size: 1.5rem;
  cursor: pointer;
}

@media screen and (max-width: 700px) {
  .container-simon {
    width: 90vmin;
    height: 90vmin;
  }
  .butIniciarBg {
    width: 50%;
    height: 50%;
  }
  .butIniciar {
    width: 100%;
    height: 100%;
  }
  .butIniciar > span {
    font-size: 1.2rem;
  }
  .emoji-status {
    font-size: 2rem;
  }
}
